@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body{
    background-color: #0D0D1C;
    color: #EBDCEF;
    font-family: "Figtree", serif;
}

header{
    width: 1200px;
    height: 96px;
    margin: auto;
    background-color: #14132A;
}
main{
    width: 1200px;
    min-height: 760px;
    margin: auto;
}
footer{
    width: 1200px;
    height: 148px;
    margin: auto;
    background-color: #06060E;
}